* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  line-height: 1.2;
}

p {
  font-family: "Barlow", sans-serif;
}

.nav {
  position: absolute;
  padding: 50px 50px;
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__list .nav__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav .nav__list .nav__ul .nav__item {
  margin-right: 47px;
  font-family: "Barlow", sans-serif;
}
.nav .nav__list .nav__ul .nav__item a {
  color: white;
  font-size: 18px;
}
.nav .nav__list .nav__ul .nav__item--button {
  background-color: #ffffff;
  padding: 15px 30px;
  border-radius: 50px;
}
.nav .nav__list .nav__ul .nav__item--button a {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #24303E;
}
.nav .nav__list .nav__ul .nav__item--button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.nav .nav__list .nav__ul .nav__item--button:hover a {
  color: #ffffff;
}

.header {
  width: 100%;
  height: 800px;
  background-image: url(assets/img/orange-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header__title {
  color: #ffffff;
  font-size: 56px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card .card__content {
  width: 50%;
}
.card .card__content .card__items {
  width: 100%;
  height: 600px;
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card .card__content .card__items .card__title {
  font-family: "Fraunces", serif;
  font-size: 40px;
  margin-bottom: 30px;
}
.card .card__content .card__items .card__text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}
.card .card__content .card__items .card__link {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
  color: #24303E;
}
.card .card__content .card__items .card__link:hover {
  color: #19536C;
}
.card .card__content .card__items--egg {
  width: 100%;
  height: 100%;
  background-image: url(assets/img/egg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.card .card__content .card__items--glass {
  width: 100%;
  height: 100%;
  background-image: url(assets/img/glass.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.card .card__content .card__items--cherry {
  width: 100%;
  height: 600px;
  padding: 80px 190px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(assets/img/cherry.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.card .card__content .card__items--cherry .card__title {
  font-family: "Fraunces", serif;
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
  color: #24554A;
}
.card .card__content .card__items--cherry .card__text {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #3E7467;
}
.card .card__content .card__items--orange {
  width: 100%;
  height: 600px;
  padding: 80px 190px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(assets/img/orange.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.card .card__content .card__items--orange .card__title {
  font-family: "Fraunces", serif;
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
  color: #052C3B;
  opacity: 0.75;
}
.card .card__content .card__items--orange .card__text {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #19536C;
}

.testimonials {
  width: 100%;
  height: 800px;
}/*# sourceMappingURL=style.css.map */